/* --- ADICIONE NO FINAL DO style.css --- */

/* Estilo para os Inputs dos Registradores */
.reg-input {
    background-color: transparent;
    border: 1px solid transparent; /* Sem borda até clicar */
    color: #ff9900; /* Cor Laranja */
    font-family: monospace;
    font-size: 1em;
    width: 60px;
    text-align: center;
    border-radius: 4px;
    outline: none;
}

/* Quando clica para editar */
.reg-input:focus {
    border: 1px solid #58a6ff; /* Borda azul ao focar */
    background-color: #0d1117;
    color: #ffffff;
}

/* O 'H' que fica do lado do número */
.hex-suffix {
    color: #ff9900;
    font-family: monospace;
    margin-left: 2px;
}
